:root {
  --text: #000;
  --background: #fff;
  --backgroundHighlight1: #ebf5eb;
  --backgroundHighlight2: #f2e4eb;
  --shading: #e0e0e0;
  --highlight: #6cb041;
  --tint: #4195b0;
  --tabIconDefault: #ccc;
  --warning: #b04141;
}

.App {
  text-align: center;
}

body {
  background-color: var(--background);
  min-height: 100vh;
  color: var(--text);
}

.App-link {
  color: var(--tint);
}

.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background: #d6fade;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  color: var(--text);
  font-family: sans-serif;
  background-color: var(--tint);
  cursor: pointer;
  text-align: center;
  transition: background 150ms ease-in-out, transform 150ms ease;
}

.NavBar__tab {
  width: 100%;
  background-color: var(--highlight);
  color: var(--background);
}

.NavBar__selected {
  height: 100%;
  color: black;
  background-color: #ffffff;
  font-weight: 700;
}

.DataDashBoard {
  display: flex;
}

.DataDisplay {
  flex: 1 0 0;
}

.DataDisplay__property {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .NavBar {
    display: flex;
    flex-direction: column;
  }
}
